fastapi
uvicorn
gitpython
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
ollama
langchain-text-splitters 
langchain-chroma
chroma
streamlit
requests
langchain-ollama
langchain-groq 
groq 
langchain
torchvision
langchain-community  
sentence-transformers
protobuf==3.20.3
